.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(36, 35, 35);
   width: 85%;
   height: auto;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  z-index: 1000;
  
  margin-top: 20px;
  
}


.navbar-logo img {
  height: 50px;
  width: auto;
}


.navbar-buttons {
  display: flex;
  gap: 5px;
  color: #fff;
  
}

.navbar-buttons button {
  background-color: transparent;
  color: #fffefe;
  background-color: #000000;
  border: none;
  font-size: 16px;
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  
  
}

.navbar-buttons button:hover:not(:disabled) {
  color: #000000;  
  background-color: rgb(255, 255, 255);
}







.navbar-button .btn {
  background-color: #fff;
  color: #111;
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-button .btn:hover {
  background-color: #ccc;
  color: #111;
}



body {
background-color: whitesmoke;


}




.Intro {
    margin-left: 10em;
    margin-top: 5em;
    margin-bottom: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
  display: inline-block;


    





}

.Intro p {
  margin-top: -1.5em;
    font-size: 1.2em;






}

#intro-text {
  color: rgb(0, 0, 0);
  font-weight: 1000;
  padding-right: 35px;
  text-align: start;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  

}

#first-line {
  color: darkblue;
  
  
  
  background-color: lightskyblue;



}

.Container1 {
    background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 160px;
   

}

.Container1 img {
height: 5%;


display: block;


}

.Container2 {
    background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  
  
  

}

.Container3 {
  background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;

}

.Container4 {
  background-color: rgb(36, 35, 35);
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  color: white;
  padding-bottom: 80px;

}

.Container5 {
  background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  color: black;
  padding-bottom: 80px;



}

.Container6 {
  background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  color: black;
  padding-bottom: 80px;







}

.Container7 {
  background-color: rgb(36, 35, 35);
    border-radius: 25px;
    
  display: flex;
    justify-content: center;  
  align-items: center;      
  text-align: center;  
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  color: rgb(255, 255, 255);
  padding-bottom: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;






}

.Summary h1 {
  font-size: 2.5rem;        
  margin-bottom: 20px;      
  line-height: 1.2;         
}

.Summary p {
  font-size: 10pt;       
  line-height: 1.6;
  margin: 0 auto;           
}

.Summary {
  font-size: 2.5rem;
  margin-bottom: 20px;
  
}

.Summary-btn {
  background-color: #fff;
  color: #111;
  border: none;
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Summary-btn:hover {
  background-color: #ddd;
}




.text-row {
  display: flex;
  gap: 180px;
  
   
  align-items: stretch; 
  
}

.img-row {
  
  gap: 40px;
  
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  
   
}

.text-col {
    flex: 50%;
    
  
    max-width: 50%;
  
  text-align: left;
  
  
  
  

}

.text-col h1{
  font-size: 2.5em;
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  




}

.text-col p{
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  margin-top: 2.0em;
  
  




}

.text-col img{
  position: relative;
   
   background-color: rgb(109, 174, 218);
    
   width: 500px;          
  height: 500px;         
  object-fit: cover;     
  border-radius: 16px;
  margin-bottom: 100px;
  overflow: hidden;



}

.img-col {
    flex: 25%;
    
  text-align: left;
    max-width: 25%;
  

}

.img-col img {
  width: 50%;       
    height: 100px;     
    object-fit: contain; 
    





}


.card {
  position: relative;
   
   background-color: rgb(109, 174, 218);
    border: 7.5px solid rgb(61, 61, 61);
    border-radius: 20px;
  height: 400px;
  align-items: center;
  text-align: center;
   width: 400px;
  margin-bottom: 100px;
  overflow: hidden;
  
    
  
  

  
}

.card img{
  width: 50%;
  height: 100px;
  object-fit: contain; 
  inset: 0;
  margin: auto;
  position: absolute;
  border-radius: 20px;
  border-bottom: 5em;
  align-self: center;
  
   z-index: 1; 


}


.HoverText {
  position: absolute;
  bottom: 0;           
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  
    left: 0px;          
  right: 0px; 
  border-radius: 20px;
  opacity: 0;                 
  transition: opacity 0.4s ease;
  pointer-events: none; 
  max-width: 100%;
  height: 50%;  
  z-index: 3;   
  padding-left: 18px;
  padding-right: 18px;
  text-align: end;
  
  
 
}




.card:hover .HoverText {
  opacity: 1;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;  
  background: rgb(61, 61, 61);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2; 
}

.card:hover::before {
  opacity: 1;
}

.HoverText h5 {
  text-align: left;
  font-size: 12pt;
  
  font-family: Arial, Helvetica, sans-serif;
 



}

.HoverText p{
  text-align: left;
  font-size: 9pt;
  margin-top: -1.5em;
  font-family: Arial, Helvetica, sans-serif;
  



}

.arrow {
  
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  
  
  
  
  

  

  position: relative;      
  
  

  
}

.button {
  display: flex;         
  justify-content: flex-end; 
  margin-top: 1em;         
  width: 100%;             
}

.More-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 10pt;
}

.More-btn2{
  
  background-color: black;
  color: white;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-top: 4.5em;
  font-size: 10pt;
  position:relative;
  
  
  
  

  

 




}



.metric-row {
  gap: 15px;
  
  
  display: flex;
  
  justify-content: left;




}

.metric-col {
  box-sizing: border-box;
  flex: 25%; 
  text-align: left;
  
  position: relative;
   
   background-color: rgb(241, 241, 241);
    
    border-radius: 20px;
  height: 250px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
   width: 250px;
  margin-bottom: 100px;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  

}

.metric-card {
  position: relative;
  background-color: rgb(42, 42, 42);
  border-radius: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex: 33.3%;
}

.metric-col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
   box-sizing: border-box;
  height: 100%;
  padding: 18px;
}

.metric-col2 p{
text-align: left;
  font-size: 11pt;
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.metric-col2 h5{
margin: 0;
  font-size: 22pt;
  line-height: 1.1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  word-spacing: 3px;


}
.metric-col2 h4{
margin: 0;
  font-size: 15pt;
  line-height: 1.1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  word-spacing: 3px;


}

.metric-img {

  width: 100%;
  height: 100%;
}

.gallery-card {
  position: relative;
  background-color: rgb(42, 42, 42);
  border-radius: 20px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex: 20%;


}



.gallery-img {
 width: 100%;
  height: 100%;



}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}



.metric-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}



.metric-col p{
  text-align: left;
  font-size: 10pt;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}

.metric-col h5{
  margin: 0;
  font-size: 50pt;
  line-height: 1.1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  word-spacing: 3px;


}



.Test-section {
  position: relative;
  
  overflow: hidden; 
}


.Test-grid {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10px;  
  gap: 10px;
}



.Test-card {
   border-radius: 16px;
  overflow: hidden;
  background: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
}


.Test-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.card-text {
  padding: 12px;
  color: white;
}



.Test-card   { 
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
   box-sizing: border-box;
  height: 100%;
  padding: 18px;




} 

.Test-card p{
text-align: left;
  font-size: 11pt;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


.Test-card h4{
margin: 0;
  font-size: 12pt;
  line-height: 1.1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  word-spacing: 3px;


}

.Test-card img{
  border-radius: 50%;
  display: block;
  object-fit: cover;
  width: 40px;
  height: 40px;




}



.Test-card.short {grid-row: span 15;}
.Test-card.tall {grid-row: span 30;}


.Test-section::before,
.Test-section::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 220px;
  pointer-events: none;
  z-index: 2;
}

.Test-section::before {
  top: 0;
  background: linear-gradient(to bottom, #ffffff, transparent);
}

.Test-section::after {
  bottom: 0;
  background: linear-gradient(to top, #ffffff, transparent);
}


@media (max-width: 900px) {
  .Test-card { flex: 0 0 50%; }
}

@media (max-width: 600px) {
  .Test-card { flex: 0 0 100%; } 
  .Test-card.short,
  .Test-card.tall {
    height: auto; 
  }
}


.site-footer {
  
  font-family: Arial, sans-serif;

  background-color: white;
    border-radius: 25px;
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7.5px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 20px;
  padding-left: 140px;
  padding-right: 100px;
  color: black;
  padding-bottom: 80px;
  

  
}



.footer-logo img {
  width: 5%;
  height: auto;
  margin-bottom: 20px;
}

.footer-columns {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;      
  justify-content: space-between; 
  align-items: flex-start;        
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;           
  min-width: 150px;  
  display: flex;
  flex-direction: column;
  gap: 13px;          
}


.footer-column h4 {
  color: #aaa; 
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  
}

.footer-column ul li a {
  color: #000000;          
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #fff;          
}

.footer-bottom {
  
  
  font-size: 14px;
  color: #000000;
}







h1 {
line-height: 1.2
;

}
.img-row .card:nth-child(1) { background-color: #c1c1ef; }
.img-row .card:nth-child(2) { background-color: #e1dfae; }
.img-row .card:nth-child(3) { background-color: #e0a4a4; }
.img-row .card:nth-child(4) { background-color: #c0bcb3; }



